/*Footer section styling*/
#footer {
    background-color: var(--orange);
    color: var(--dark-green);
    padding: 0;
    width: 100%;
  }
  
  .container-outer {
    padding: 0;
    display: block;
    margin: 0 auto;
  }
  
  .site-footer-container-inner {
    border-bottom: 0.05rem solid;
    overflow: hidden;
    padding: 4rem 1rem 4rem 1rem;
    display: flex;
  }
  
  .site-footer-navigation-primary {
    width: 25%;
  }
  
  .site-footer-title {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
    padding-right: 1rem;
    display: block;
  }
  
  #footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .site-footer-navigation-primary a {
    display: inline-block;
    line-height: 2.3;
    text-decoration: none;
    color: var(--dark-green);
  }
  
  .site-footer-cta {
   width: 50%;
  }
  
  .text-formatted-field {
    margin-bottom: 2rem;
  }
  
  .text-formatted-field p {
    font-size: 1rem;
    display: block;
  }
  
  form {
    font-size: 1rem;
    align-items: center;
    display: flex;
    margin-top: 0em;
  }
  
  /*To Do*/
  #email {
    border: 0.125rem solid var(--orange);
    border-radius: 0.3rem;
    margin-bottom: 0;
    display: block;
    appearance: none;
    box-sizing: border-box;
    padding: 0.625rem;
    width: 100%;
    height: 3rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    color: inherit;
    line-height: 1.5;
    background: var(--off-white);
    box-shadow: none;
    caret-color: var(--dark-green);
    transition: all 200ms ease-in-out;
    overflow: visible;
    margin: 0;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0rem;
    text-shadow: none;
    text-align: start;
    cursor: text;
  }
  
  /*To Do*/
  #submit {
    flex-basis: 7.5rem;
    min-width: 7.5rem;
    border: 0;
    font-size: 1rem;
    background-color: var(--green);
    background-image: none;
    color: var(--orange);
    font: inherit;
    border-radius: 0.25rem;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    caret-color: var(--dark-green);
    height: 3rem;
    overflow: hidden;
    margin: 0;
    user-select: none;
  }
  
  .site-footer-social {
    width: 25%;
    margin-left: 2%;
  }
  
  .social-media-links-platforms li {
    margin-right: 2rem;
    padding-left: 0.3rem;
    display: inline-block;
    text-align: center;
  }
  
  .social-media-links-platforms a {
    color: var(--dark-green);
    text-decoration: none;
    background-color: transparent;
    list-style: none;
  }
  
  .fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 1rem/1 FontAwesome;
    text-rendering: auto;
  }
  
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0.06rem, 0.06rem, 0.06rem, 0.06rem);
    width: 0.06rem;
    height: 0.06rem;
    word-wrap: normal;
  }

@media (max-width: 800px) {
  .site-footer-container-inner {
    display: block;
  }
  .site-footer-navigation-primary, .site-footer-cta, .site-footer-social {
    width: 100%;
    padding-bottom: 5%;
  }
  .site-footer-social {
    margin: 0;
  }
}
  
  .site-footer-navigation-secondary #mini-footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  
  .site-footer-navigation-secondary .menu-item {
    margin-bottom: 0;
    margin-right: 1.25rem;
    margin-top: 0;
    display: list-item;
    list-style: none;
  }
  
  .site-footer-navigation-secondary a {
    color: var(--dark-green);
    text-decoration: none;
    background-color: transparent;
  }
  
  .site-footer-col-container {
    display: flex;
  }
  
  .site-footer-col:first-child {
    margin-right: 4.5%;
    max-width: 86.25rem;
    margin-bottom: 0;
  }
  
  .site-footer-col-container p {
    font-size: 0.6875rem;
    margin: 0 0 2rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

#second-footer-section {
  display: block;
}
  