/*Main section styling*/
#main {
  background-image: linear-gradient(62deg, var(--off-white) 0%, var(--gray) 100%); /*off-white gray*/
  padding-top: 4.25rem;
}

/* Hero Section Styling */
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/Marktawa/twatasha/main/images/hero-image-1.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-text {
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--yellow);
  text-align: center;
}

#hero p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  color: var(--off-white); /*maroon*/
}

@media (max-width: 512px) {
#welcome-text {
  font-size: 2rem;
}
#hero p {
  font-size: 1.2rem;
}
}

/*Summary section styling*/
#summary {
  padding: 4rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: row;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33%;
  margin-right: 1%;
}

#volunteer {
margin-left: 1%;
}

@media (max-width: 768px) {
#summary {
  display: block;
  padding: 2%;
}

.summary {
  display: block;
  margin: 0;
  width: 100%;
}

#volunteer {
  margin: 0;
}
}

.summary > .level {
  background-color: var(--green);
  color: var(--orange);
  padding: 1rem 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: 0.3rem var(--light-black) transparent;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}

.summary p {
  margin: 0.33rem 1.8rem;
  padding: 0.33rem 0.2rem;
  font-style: italic;
}

.summary button {
  border: 0;
  margin: 1rem 0;
  background-color: var(--orange);
  color: var(--green);
   padding: 0 1.25rem;
  height: 2.5rem;
  font: inherit;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.25rem;
  cursor: pointer;
}

.summary button:hover {
  color: var(--yellow);
  font-weight: 600;
  background-color: var(--dark-green);
  transition: background-color 1s;
}

.image-container-summary {
  display: flex;
  height: 16rem;
  width: 100%;
  background-color: var(--yellow);
}

.image-container-summary > img {
  width: 100%;
  object-fit: cover;
}

.image-container-summary > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

/* News events section styling */
#news-events {
  padding-bottom: 3rem;
  border: 0;
   background-image: linear-gradient(to right, var(--gray), #ffff4d);
}

.news-header {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  background-color: var(--green);
  color: var(--orange);
}

#news-events-btn {
  background-color: var(--orange);
  color: var(--green);
  margin: 1.25rem;
  padding: 1.25rem 0.8rem;
  font-size: 1rem;
  font: inherit;
  font-weight: 600;
  border: 0.25rem var(--orange) solid;
  border-radius: 0.25rem;
  cursor: pointer;
}

#news-events-btn:hover {
  font-weight: 700;
  color: var(--yellow);
  background-color: var(--dark-green);
  border: 0.25rem var(--dark-green) solid;
  border-radius: 0.25rem;
}

.news-event-title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.news-event-heading {
  margin-top: 0.5rem;
  color: var(--maroon);
}

.news-event-text {
  text-align: justify;
  margin: 0.6rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 1%;
  padding-top: 1rem;
}

#announcements {
margin-left: 1%;
}

@media (max-width: 768px) {
.row {
  display: block;
  padding: 2%;
}

.column {
  display: block;
  width: 100%;
  margin: 0;
}

#announcements {
  margin: 0;
}
}

.news-event-heading {
  padding-left: 0.6rem;
}

.news-event-date {
  padding-left: 0.6rem;
}

#partners {
  padding-bottom: 2rem;
  background-image: linear-gradient(62deg, #80ffff 0%, #80ff80 100%);
}

.partner-group {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .partner-group {
    display: block;
  }
}

#partners a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

#partners img {
  width: 6rem;
}

.partner-block {
  padding: 1rem;
}