/* Custom properties/variables  */
:root {
  --off-white: #e6e6e6;
  --yellow: #f8f800;
  --green: #009900;
  --dark-green: #003300;
  --orange: #ffa500;
  --gray: #b3b3b3;
  --light-gray: #cccccc;
  --lighter-gray: #d9d9d9;
  --dark-gray: #bfbfbf;
  --darker-gray: #999999;
  --maroon: #a62c34;
  --light-black: #1a1a1a;
  --dark-black: #0d0d0d;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  /* Base Styling */
  body {
    font-family: "Montserrat", "Verdana", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--dark-green);
  }
  
  